// Footer
footer
    .footer
        .footer__left
            .footer__title QUICK INFORMATION
            .footer__adress Address : 42 Puffin Street 12345 Puffinville
            .footer__adress phone : 0123-456-789 email:
            .footer__adress Sales@Yourcompany.Com

            .footer__social
                a(href="#")
                    img(src="../img/svg/social/facebook.svg" alt="facebook")
                a(href="#")
                    img(src="../img/svg/social/twitter.svg" alt="twitter")
                a(href="#")
                    img(src="../img/svg/social/youtube.svg" alt="youtube")
                a(href="#")
                    img(src="../img/svg/social/viber.svg" alt="viber")
                a(href="#")
                    img(src="../img/svg/social/telegram.svg" alt="telegram")
                a(href="#")
                    img(src="../img/svg/social/whatsapp.svg" alt="whatsapp")

        .footer__right
            ul.footer__menu
                li.footer__item
                    a(href="#").footer__link Образцы отделок
                li.footer__item
                    a(href="#").footer__link Двери по назначению
                li.footer__item
                    a(href="#").footer__link Металлоконструкции
                li.footer__item
                    a(href="#").footer__link Кованые изделия
                li.footer__item
                    a(href="#").footer__link Окна-Балконы
                li.footer__item
                    a(href="#").footer__link Типы конструкции
                li.footer__item
                    a(href="#").footer__link Фурнитура
                li.footer__item
                    a(href="#").footer__link Доставка и монтаж
                li.footer__item
                    a(href="#").footer__link О компании
                li.footer__item
                    a(href="#").footer__link Сделать заказ
                li.footer__item
                    a(href="#").footer__link Контакты

            ul.footer__menu
                li.footer__item
                    a(href="#").footer__link Входные двери по назначению
                li.footer__item
                    a(href="#").footer__link Уличные двери
                li.footer__item
                    a(href="#").footer__link Для загородного дома
                li.footer__item
                    a(href="#").footer__link Входные двери в подъезд
                li.footer__item
                    a(href="#").footer__link Входные двери для дачи
                li.footer__item
                    a(href="#").footer__link Входные двери в офис
                li.footer__item
                    a(href="#").footer__link Входные двери КХО
                li.footer__item
                    a(href="#").footer__link Двери с шумоизоляцией
                li.footer__item
                    a(href="#").footer__link Двери в квартиру
                li.footer__item
                    a(href="#").footer__link Входные двери в кассу
                li.footer__item
                    a(href="#").footer__link Входные двери с терморазрывом





