extends _layout

block variables
  - var pageTitle = "Двери";

block content
  // Content
  div.main-wrap
    //.webp-img(data-webp="img/Rectangle5.webp" data-img="img/Rectangle5.jpg")
    //.block-top-wrap.webp-img(data-webp="img/stock-photo-back-view-of-happy-family-is-standing-near-their-modern-house-and-hugging-670227178.webp"
    //data-img="img/stock-photo-back-view-of-happy-family-is-standing-near-their-modern-house-and-hugging-670227178.jpg")

    .block-top
      .catalog.catalog-page-catalog
        .catalog__search
          input(type="text" placeholder="Двери белые").catalog__search-field
          a(href="#").catalog__search-btn
        .catalog__inner
          ul.catalog__list
            li.catalog__item
              a(href="#").catalog__link.catalog__link--title Каталог дверей
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Дверная продукция
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Образцы отделок
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Двери по назначению
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Металлоконструкции
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Кованые изделия
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Окна-Балконы
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Типы конструкции
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Фурнитура
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
      .catalog-page.catalog-page--contact
        .catalog-page__inner
          .block-title
            h1 Новости
          .news-page
            .news-page__row
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n1.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n2.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
            .news-page__row
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n1.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n2.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
    .catalog-page__inner.auction
      .block-title
        h1 Акционные товары
      .auction__content
        .auction__row
          .auction__item
            .auction__item-top
              .auction__item-title Dveri-termo-05
              .auction__item-img
                img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/a1.png").b-lazy
            .auction__item-center
              .auction__item-caption Отделка двери:
              .auction__item-desc
                p.auction__item-txt Снаружи: Фрезерованная панель МДФ ПВХ 6
                p.auction__item-txt Внутри: Фрезерованная панель эко-шпонп
              .auction__item-price от 40000 руб.
            .auction__item-bottom
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--pencil
              span.auction__item-spacer
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--basket
              span.auction__item-spacer
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--like
          .auction__item
            .auction__item-top
              .auction__item-title Dveri-termo-05
              .auction__item-img
                img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/a2.png").b-lazy
            .auction__item-center
              .auction__item-caption Отделка двери:
              .auction__item-desc
                p.auction__item-txt Снаружи: Фрезерованная панель МДФ ПВХ 6
                p.auction__item-txt Внутри: Фрезерованная панель эко-шпонп
              .auction__item-price от 40000 руб.
            .auction__item-bottom
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--pencil
              span.auction__item-spacer
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--basket
              span.auction__item-spacer
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--like
          .auction__item
            .auction__item-top
              .auction__item-title Dveri-termo-05
              .auction__item-img
                img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/a3.png").b-lazy
            .auction__item-center
              .auction__item-caption Отделка двери:
              .auction__item-desc
                p.auction__item-txt Снаружи: Фрезерованная панель МДФ ПВХ 6
                p.auction__item-txt Внутри: Фрезерованная панель эко-шпонп
              .auction__item-price от 40000 руб.
            .auction__item-bottom
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--pencil
              span.auction__item-spacer
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--basket
              span.auction__item-spacer
              a(href="javascript:void(0);").auction__item-btn.auction__item-btn--like






