extends _layout

block variables
  - var pageTitle = "Двери";

block content
  // Content
  div.main-wrap
    //.webp-img(data-webp="img/Rectangle5.webp" data-img="img/Rectangle5.jpg")
    //.block-top-wrap.webp-img(data-webp="img/stock-photo-back-view-of-happy-family-is-standing-near-their-modern-house-and-hugging-670227178.webp"
    //data-img="img/stock-photo-back-view-of-happy-family-is-standing-near-their-modern-house-and-hugging-670227178.jpg")

    .block-top
      .catalog.catalog-page-catalog
        .catalog__search
          input(type="text" placeholder="Двери белые").catalog__search-field
          a(href="#").catalog__search-btn
        .catalog__inner
          ul.catalog__list
            li.catalog__item
              a(href="#").catalog__link.catalog__link--title Каталог дверей
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Дверная продукция
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Образцы отделок
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Двери по назначению
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Металлоконструкции
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Кованые изделия
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Окна-Балконы
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Типы конструкции
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Фурнитура
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
      .catalog-page.catalog-page--contact
        .catalog-page__inner
          .block-title
            h1 Новости
          .news-page
            .news-page__row
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n1.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n2.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
            .news-page__row
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n1.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее
              .news-page__item-wrap
                .news-page__item
                  a(href="").news-page__link
                    .news-page__img
                      img( src="img/n2.png" alt="img")
                    .news-page__title Советы от профессионала по выбору входной, стальной, металлической двери
                  .news-page__date 12.08.2019
                  .news-page__desc Для большинства владельцев загородных домов и коттеджей немаловажным значением обладает не только уровень надежности дверной конструкции, но
                    a.news-page__readmore Читать далее






