extends _layout

block variables
  - var pageTitle = "Двери";

block content
  // Content
  div.main-wrap
    //.webp-img(data-webp="img/Rectangle5.webp" data-img="img/Rectangle5.jpg")
    //.block-top-wrap.webp-img(data-webp="img/stock-photo-back-view-of-happy-family-is-standing-near-their-modern-house-and-hugging-670227178.webp"
    //data-img="img/stock-photo-back-view-of-happy-family-is-standing-near-their-modern-house-and-hugging-670227178.jpg")

    .block-top
      .catalog.catalog-page-catalog
        .catalog__search
          input(type="text" placeholder="Двери белые").catalog__search-field
          a(href="#").catalog__search-btn
        .catalog__inner
          ul.catalog__list
            li.catalog__item
              a(href="#").catalog__link.catalog__link--title Каталог дверей
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Дверная продукция
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Образцы отделок
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Двери по назначению
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Металлоконструкции
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Кованые изделия
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Окна-Балконы
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Типы конструкции
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
            li.catalog__item
              a(href="#").catalog__link.catalog__link--arrow Фурнитура
              ul.catalog__submenu
                li.catalog__submenu-list
                  a(href="#").catalog__submenu-item сабменю
      .catalog-page.catalog-page--contact
        .catalog-page__inner
          .block-title
            h2 Изготовление на заказ
          .contact-page
            .contact-page__inner

              .contact-page__right.contact-page__right--zakaz
                h3.contact-page__title.contact-page__title--center.contact-page__title--zakaz Сделайте заказ  прямо сейчас!
                form
                  .contact-page__form.contact-page__form--zakaz
                    label.contact-page__label(for="name") Имя
                      span *
                    input.contact-page__input(id="name" type="text")
                    label.contact-page__label(for="mail") Почта или телефон
                      span *
                    input.contact-page__input(id="mail" type="text")
                    label.contact-page__label(for="text") Сообщение
                      span *
                    textarea.contact-page__textarea(id="text")

                    input.contact-page__submit(type="submit" value='Заказать')

    .catalog-page__inner
      .block-title
        h2 Каталог всех металлоконструкции завода Статус
      .all-products__content
        .all-products__list
          .all-products__item
            a(href="#").all-products__link
              .all-products__item-top
                .all-products__img
                  img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/all1.jpg").b-lazy
              .all-products__item-bottom
                .all-products__name Каталог дверной продукции
          .all-products__item
            a(href="#").all-products__link
              .all-products__item-top
                .all-products__img
                  img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/all2.jpg").b-lazy
              .all-products__item-bottom
                .all-products__name Металлические беседки
          .all-products__item
            a(href="#").all-products__link
              .all-products__item-top
                .all-products__img
                  img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/all3.jpg").b-lazy
              .all-products__item-bottom
                .all-products__name Теплицы из поликарбоната
          .all-products__item
            a(href="#").all-products__link
              .all-products__item-top
                .all-products__img
                  img(alt="img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/all4.jpg").b-lazy
              .all-products__item-bottom
                .all-products__name Летние души для дачи
        .go-more-categories-wrap
          a(href="javascript:void(0);").catalog-page__btn-more Перейти в каталог



